<!-- index.html -->
<!DOCTYPE html>
<html ng-app="peopleModule">

<head>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../style.css">

    <script src="../javascript/lib/jquery/jquery-1.11.0.js"></script>
    <script src="../javascript/lib/jquery/jquery-ui-1.10.4.js"></script>
    <script src="../javascript/lib/bootstrap/bootstrap.min.js"></script>
    <script src="../javascript/lib/angular/angular.js"></script>
    <script src="../javascript/lib/angular/angular-route.js"></script>
    <script src="../javascript/lib/angular-plugin/ng-table.js"></script>
    <script src="../javascript/lib/angular-plugin/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="../javascript/app/app.js"></script>
    <script src="../javascript/people/peopleModule.js"></script>
    <script src="../javascript/people/service/modalService.js"></script>
    <script src="../javascript/people/service/peopleService.js"></script>
    <script src="../javascript/people/controller/peopleController.js"></script>
    <script src="../javascript/people/controller/peopleDetailController.js"></script>
</head>

<body>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main" class="container" ng-controller="peopleController">
        <div class="row">
            <table ng-table="tableParams" show-filter="booleanFilter" class="table table-hover center-table">
              <!-- table-condensed table-striped  -->
                <tbody class="table-body">
                    <tr ng-repeat="people in $data">
                        <td data-title="'No'">
                            {{$index + 1}}
                        </td>
                        <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">
                            <a href="" class="btn btn-link btn-xs" ng-click="OpenPeopleDetail($index+1)">{{people.name}}</a>
                        </td>
                        <td data-title="'Gender'" filter="{ 'gender': 'text' }" sortable="'gender'">
                            {{people.gender}}
                        </td>
                        <td data-title="'Height'" filter="{ 'height': 'text' }" sortable="'height'">
                            {{people.height}}
                        </td>
                        <td data-title="'Mass'" filter="{ 'mass': 'text' }" sortable="'mass'">
                            {{people.mass}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
